<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <mirrors>
        <!-- see https://maven-central.storage.googleapis.com/index.html -->
        <mirror>
            <id>google-maven-central</id>
            <name>GCS Maven Central mirror</name>
            <url>https://maven-central.storage-download.googleapis.com/maven2/</url>
            <!-- IMPORTANT: do not put spaces after comma otherwise repository is not considered -->
            <!-- jboss-public-repository-group declared by bonita-distrib but make build fail with GH workflow -->
            <mirrorOf>central,jboss-public-repository-group</mirrorOf>
        </mirror>
    </mirrors>
</settings>
